<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @template.category %>
</p>

<p>
  <strong>Level:</strong>
  <%= @template.level %>
</p>

<p>
  <strong>Message:</strong>
  <%= @template.message %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
